/* @ignore */
@import './themes/rose-pine.css';
@import './modules/styles/global.css';
@import './modules/styles/tray.css';
@import './modules/styles/workspaces.css';
.modules-left * {
  margin-left: 12px;
}
.modules-left,
.modules-center,
.modules-right {
  border-radius: 100%;
}

.modules-right * {
  margin-right: 16px;
}

#custom-date,
#clock,
#network,
#pulseaudio {
  color: inherit;
  font-size: inherit;
}

#network {
  font-size: 11px;
}

#language {
}
