#tray {
  margin: 6px 0px 6px 12px;
  border-radius: 16px;
}

#tray * {
  margin: 0;
  font-size: 12px;
}

#tray menu {
  padding: 10px 0;
  background: rgba(35, 33, 54, 0.9);
  border-radius: 6px;
  min-width: 200px;
  border: 1px solid @pine;
  padding: 10px 15px;
}

#tray menu arrow {
  min-height: 6px;
  min-width: 6px;
  background: @text;
  border-radius: 50%;
}

#tray menu menuitem {
  padding: 10px 5px;
}
#tray menu menuitem:hover > label {
  color: @rose;
}

#tray menu menuitem:hover arrow {
  background: @rose;
}
