#workspaces {
  font-size: 18px;
}

#workspaces button {
  margin: 0px 6px;
  padding: 0px 4px;
}

#workspaces button * {
  color: inherit;
  font-size: inherit;
}

#workspaces button.persistent {
  color: @text;
  padding: 0px 4px;
  margin: 0px 6px;
  font-size: inherit;
}

#workspaces button.special {
  color: @text;
  margin: 6px 12px;
}

#workspaces button.special.active {
}
#workspaces button.empty {
  color: @textDawn;
  color: #393552;
}

#workspaces button:hover {
  color: @text;
}

#workspaces button.active {
  color: @love;
}

#workspaces button.active:hover {
  color: @love;
  border-color: @love;
  transition:
    color 0.2s ease-in,
    border-color 0.2s ease-in;
}
