#workspaces {
  font-size: 14px;
  margin-right: 8px;
}

#workspaces button * {
  color: inherit;
  font-size: inherit;
  font-weight: 400;
}

#workspaces button {
  background-color: @grayBg;
  padding: 0 8px;
  font-size: inherit;
}

#workspaces button.persistent {
  color: @text;
  padding: 0px 8px;
  padding-bottom: 1.5px;
  font-size: inherit;
  border-color: @text;
}

#workspaces button.special {
  color: @text;
  font-size: 14px;
  padding-right: 12px
}

#workspaces button.empty {
  border-color: transparent;
  color: @textDawn;
}

#workspaces button.active {
  color: @text;
  background-color: transparent;
  ;
}
